* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: #00ff00;
  font-family: 'Inconsolata', monospace;
  background: repeating-linear-gradient( 45deg, #ffffff, #ffffff 3px, rgba(204, 204, 204, 0.3) 3px, rgba(204, 204, 204, 0.3) 6px );
  font-size: 14px;
}

a {
  color: #0000ff;
}

.container {
  max-width: 400px;
  margin: auto;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.title {
  width: auto;
  display: inline-block;
  color: #f50003;
  font-size: 10px;
}

.bio {
  width: 100%;
  padding: 4px;
  background-color: #0000ff;
  box-shadow: 5px 5px 0 #000;
  z-index: 1;
}

.navigation {
  margin-bottom: 8px;
}

@media(max-width: 480px) {
  .title {
    font-size: 6px;
  }
}
