:root {
    --color-bg: #f5f5f5;
    --color-accent-1: #1236f3;
    --color-accent-2: #f4c8f8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    height: 100%;
}

pre {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
    color: rgb(95 99 102);
}
