* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 200px 1fr 1fr;
  align-items: flex-end;
  padding: 0 35px;
  color: rgba(0, 0, 0, 0.84);
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-weight: 500;
  font-size: 3em;
  margin: 0;
}

code {
  font-size: 0.6em;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

a:hover,
label:hover {
  text-decoration: underline solid #703dea;
}

footer {
  display: block;
}

canvas {
  height: 200px;
  width: 200px;
  justify-self: flex-end;
  align-self: baseline;
  margin-right: 5%;
  border-radius: 50%;
  z-index: -1;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.work {
  font-size: 4em;
  font-weight: bold;
  list-style: none;
  line-height: 1;
}

.content {
  display: flex;
}

.description {
  max-width: 220px;
  margin: 0 32px 16px 0;
  font-size: 0.8em;
  text-indent: 65px;
  padding-top: 1ch;
}

.footer {
  margin-top: auto;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 16px 0;
  line-height: 1.4;
}

.theme-toggle {
  text-transform: uppercase;
  user-select: none;
  font-size: 0.8em;
}

.theme-toggle__input {
  display: none;
}

.theme-toggle__label {
  cursor: pointer;
}

.theme-toggle__label::after {
  content: 'off';
}

.theme-toggle__input:checked + .theme-toggle__label::after {
  content: 'on';
}

@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  body {
    padding: 32px 8px;
    grid-template-rows: 1fr 80px 1fr 1fr;
  }

  canvas {
    height: 110px;
    width: 110px;
  }

  .content {
    flex-direction: column;
  }

  .footer,
  .contact {
    align-items: flex-start;
  }

  .footer {
    margin-top: 32px;
  }

  .contact {
    font-size: 1.5em;
  }
}
